
login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

signin-form {
  display: grid;
  justify-items: end;
  row-gap: 1rem;
}

signin-form, external-auth {
  padding: 1em;
  border-radius: var(--default-radius);
  border: 3px solid var(--dark-primary-color);
}

or {
  margin: 1em;
  color: var(--light-primary-color);
}

external-auth .auth-provider {
  display: block;
  margin: 0.5em 0;
}

external-auth .auth-provider span {
  margin-left: var(--default-margin);
}

@media screen and (max-width: 800px) {
  login {
    flex-direction: column;
  }
}