[*.Tests.cs]
dotnet_diagnostic.ASP0016.severity = none # ASPNET Code analysis: Do not return a value from RequestDelegate
dotnet_diagnostic.CA1707.severity = none # Naming: Identifiers should not contain underscores
dotnet_diagnostic.CA2012.severity = none # #Reliability: Use ValueTasks correctly
dotnet_diagnostic.CA2234.severity = none # Usage: Pass System.Uri objects instead of strings

[*.cs]
dotnet_diagnostic.CA1054.severity = none # Design: URI parameters should not be string
dotnet_diagnostic.CA1055.severity = none # Design: URI return values should not be strings
dotnet_diagnostic.CA1056.severity = none # Design: URI properties should not be strings
dotnet_diagnostic.CA1062.severity = none # Design: Validate arguments of public methods [non-nullable reference types => clear intention => no rule]
dotnet_diagnostic.CA2007.severity = none # Reliability: Do not directly await a Task
dotnet_diagnostic.CA1515.severity = none # Consider making public types internal
dotnet_diagnostic.CA2007.exclude_async_void_methods = false # CA2007 rule option
dotnet_diagnostic.CA2225.severity = none # CA2225: Operator overloads have named alternates
dotnet_diagnostic.CA1031.severity = none # CA1031: Do not catch general exception types

dotnet_diagnostic.IDE0160.severity = none # Convert to block scoped namespace
dotnet_diagnostic.IDE0008.severity = none # Use explicit type
dotnet_diagnostic.IDE0040.severity = none # Add accessibility modifiers
dotnet_diagnostic.IDE0022.severity = none # Use block body for method
dotnet_diagnostic.IDE0130.severity = none # Namespace does not match folder structure
dotnet_diagnostic.IDE0011.severity = none # IDE0011: Add braces
dotnet_diagnostic.IDE0058.severity = none # IDE0058: Expression value is never used
dotnet_diagnostic.IDE0046.severity = none # IDE0046: Convert to conditional expression
dotnet_diagnostic.IDE0023.severity = none # IDE0023: Use block body for conversion operator
