# IDE specific files
.ionide/
.vscode/
.editorconfig

# Build results
[Bb]in/
[Oo]bj/

# Code coverage results
**/lcov.info

# .Net local packages
.packages

# Test databases
**/*.db

# Support files
tools.md

# API secrets
**/prod.json
**/secrets.json

# Certificates
.certificates

# Deno
deno.lock

