
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-primary-color);
}

header .logo {
  margin: 1rem;
  font-family: var(--ff-serif);
  color: var(--label-color);
  text-transform: uppercase;
}