
header {
  padding: 1em;
  background-color: var(--dark-primary-color);
}

header .logo {
  font-family: var(--ff-serif);
  text-transform: uppercase;
}

header .logo a {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}
