@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Security samples</title>
  <link rel="shortcut icon" href="data:,base64=" type="image/x-icon">
</head>
<style>

  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover, a:active {
    color: initial;
  }

</style>
<body>
  <div class="container">
    <header>
      <partial name="_Header"></partial>
    </header>
    <main>
      @RenderBody()
    </main>
    <footer>
      <partial name="_Footer"></partial>
    </footer>
  </div>
</body>
</html>