
error {
  display: none;
  position: absolute;
  transition: display 1s ease-in-out;
  bottom: 5rem;
  left: 2rem;
  padding: 1rem;
  border: thin solid var(--error-color);
  color: var(--info-color);
  background-color: var(--neutral-light-color);
}