
<style>
  .header {
    display: flex;
    justify-content: space-between;
  }

  .header ul {
    list-style: none;
  }
</style>

<div class="header">
  <h4>Security samples</h4>
  <nav>
    <ul>
      @if(IsPrincipalAuthenticated(User))
      {
        <li><a href="/index">Home</a></li>
        <li><a href="/account">Account</a></li>
        <li>
          <form name="logout" method="post" action="/logout?returnUrl=/index" >
            <a href="/" onclick="event.preventDefault(); document.forms['logout'].submit();">Logout</a>
          </form>
        </li>
      }
      else
      {
        <li><a href="/login?redirectUrl=/index">Login</a></li>
      }
    </ul>
  </nav>
</div>