
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color var(--transition-interval) ease-in-out;
  border: 0;
  color: var(--accent-color);
}

a:hover, a:focus {
  color: var(--accent-dark-color);
}

a * {
  vertical-align: middle;
}

button {
  padding: 1rem;
  font-size: var(--font-size);
  outline: 0;
  cursor: pointer;
  transition: color var(--transition-interval) ease-in-out, border-color var(--transition-interval);
  border: thin solid var(--accent-color);
  color: var(--accent-color);
  background-color: var(--neutral-dark-color);
}

button:hover, button:focus {
  color: var(--accent-dark-color);
  border-color: var(--accent-dark-color);
}

button:disabled {
  cursor: default;
  color: var(--info-color);
  border-color: var(--neutral--light-color);
}

label {
  cursor: pointer;
  opacity: 75%;
  color: var(--label-color);
}

input {
  padding: 1rem;
  font-size: var(--font-size);
  outline: none;
  transition: border-color var(--transition-interval) ease-in-out;
  border: thin solid var(--neutral-dark-color);
  background-color: var(--neutral-dark-color);
  color: var(--info-color);
}

input:hover, input:focus {
  border-color: var(--info-color);
}

svg {
  height: 1em;
}