@page

<style>
  .login {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .login form > * {
    margin: 0.3rem;
  }

  .login .providers * {
    display: block;
    margin: 0.3rem;
  }
</style>

@{
  string? returnUrlParam = Request?.Query["returnUrl"];
  var returnUrl = returnUrlParam is not null? returnUrlParam:"/index";
  var queryString = $"?returnUrl={returnUrl}";
}

<h3>Login</h3>
<div class="login">
  <form name="login" method="post" action="@("/login" + @queryString)">
    <div>
      <label for="user"></label>
      <input type="text" name="user" value="user" placeholder="user name">
    </div>
    <div>
      <label for="password"></label>
      <input type="password" name="password" value="password" placeholder="password">
    </div>
    <a href="/" onclick="event.preventDefault(); document.forms['login'].submit();">Login</a>
  </form>
  <div class="providers">
    <a href=@("/challenge-google" + @queryString)>Connect with Google</a>
    <a href=@("/challenge-facebook" + @queryString)>Connect with Facebook</a>
  </div>
</div>
