
app {
  height: 100vh;
}

router {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: inherit;
}

main {
  height: 100%;
  justify-self: center;
  align-self: center;
}

routes, route, suspense {
  display: block;
  height: inherit;
}

main {
  display: grid;
  justify-items: center;
  align-items: center;
}

.app-spinner svg  {
  height: 5rem;
}