
app {
  display: block;
  height: 100vh;
}

layout {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: inherit;
}

main {
  height: 100%;
}

router, user, context, routes, route {
  display: block;
  height: inherit;
}