
:root {
  --ff-serif: Georgia, 'Times New Roman', Times, serif;
  --ff-sans-serif: Arial, Helvetica, sans-serif;

  --light-primary-color: rgb(168, 166, 166);
  --primary-color: rgb(49, 46, 46);
  --dark-primary-color: rgb(41, 39, 39);

  --light-secondary-color: rgb(250, 221, 169);
  --secondary-color: rgb(255, 192, 74);
  --dark-secondary-color: rgb(255, 153, 0);

  --ligth-text-color: rgb(203, 250, 203);
  --text-color: rgb(140, 231, 140);

  --default-font-size: 1.6em;
  --default-radius: 0px;
  --default-padding: 0.8rem;
  --default-margin: 0.5rem;
  --default-transition: 0.5s;
}

html {
  font-size: 62.5%;
  font-family: var(--ff-sans-serif);
}

body {
  font-size: var(--default-font-size);
  background-color: var(--primary-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


a {
  display: inline-block;
  margin: var(--default-margin);
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color var(--default-transition) ease-in-out;
  border: 0;
  border-radius: var(--default-radius);
  color: var(--secondary-color);
}

a:hover, a:focus {
  color: var(--dark-secondary-color);
}

a * {
  vertical-align: middle;
}


input {
  padding: var(--default-padding);
  font-size: 1em;
  outline: 0;
  transition: border-color var(--default-transition) ease-in-out;
  border: 1px solid var(--dark-primary-color);
  background-color: var(--dark-primary-color);
  color: var(--light-primary-color);
}

input:hover, input:focus {
  border-color: var(--text-color);
}


button {
  padding: var(--default-padding);
  font-size: 1em;
  outline: 0;
  cursor: pointer;
  transition: color var(--default-transition) ease-in-out, border-color var(--default-transition);
  border: 1px solid var(--secondary-color);
  border-radius: var(--default-radius);
  color: var(--secondary-color);
  background-color: var(--dark-primary-color);
}

button:hover , button:focus {
  color: var(--dark-secondary-color);
  border-color: var(--dark-secondary-color);
}


label {
  margin-right: var(--default-margin);
  cursor: pointer;
  opacity: 75%;
  color: var(--text-color);
}


svg {
  height: 1.5em;
}

