:root {
  --ff-serif: Georgia, 'Times New Roman', Times, serif;
  --ff-sans-serif: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
  font-family: var(--ff-sans-serif);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:active {
  color: initial;
}



