
footer {
  padding-block: 2rem 3rem;
  text-align: center;
  background-color: var(--neutral-dark-color);
}

.footer-social-icon {
  margin-inline: 0.5rem 0.5rem;
  font-size: 4rem;
}

.footer-me {
  margin-top: 1rem;
}