
footer {
  text-align: center;
  vertical-align: middle;
  background-color: var(--dark-primary-color);
}

footer .social-icons {
  margin: 0.5rem;
}

footer .social-icons .social-icon {
  border-color: transparent;
}

footer .me {
  margin: 0.5rem;
  color: var(--light-primary-color);
}
